<!DOCTYPE html>
<html>
  <head>
    <title>こんにちは！</title>
    <img src="https://majandofu.com/wp-content/uploads/2014/09/pin1-66-90-l.png">
    <% var x= "20" ;%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css" href='../CSS/ex.css'>

    </style>
    <%- include('./header.ejs')%>
  <a href="    <%- include('./header.ejs')%>">a</a>
  </head>
  <body>
    <nav class="menu">
    <ol>
      <li class="menu-item"><a href="#0">Home</a></li>
      <li class="menu-item"><a href="#0">About</a></li>
      <li class="menu-item">
        <a href="#0">Widgets</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0">Big Widgets</a></li>
          <li class="menu-item"><a href="#0">Bigger Widgets</a></li>
          <li class="menu-item"><a href="#0">Huge Widgets</a></li>
        </ol>
      </li>
      <li class="menu-item">
        <a href="#0">Kabobs</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0">Shishkabobs</a></li>
          <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
          <li class="menu-item"><a href="#0">Summer kabobs</a></li>
        </ol>
      </li>
      <li class="menu-item"><a href="#0">Contact</a></li>
    </ol>
  </nav>
    <h1>チンチン！</h1>
    <p>Welcome to チンaチン</p>
    <p><%= x %></p>
    aiueo
    <input type=text value=aiueo>
    <a href=/test>次のページ</a>
    <script>
      document.write("fasiuro");
      });



    </script>
    <table border=1>
      <tr>
      <th>年齢</th>
      <th>名前</th>
    </tr>
    <% for(var i=0;i<users.length;i++){%>
      <tr>
      <td><%=users[i].id %></td>
      <td><%=users[i].name %></td>
<%}%>
<tr>
    </table>
  <form method="post" action="/">
    <input type=text name="name" action="/controller/controller.js">
    <button type="submit">登録</button>
  </form>
  </body>
</html>
